'geom': '{\n'
         '"type": "FeatureCollection",\n'
         '"features": [\n'
         '{\n'
         '  "type": "Feature",\n'
         '  "id": "relation/1310401",\n'
         '  "properties": {\n'
         '    "leisure": "park",\n'
         '    "name": "Brookfield Village",\n'
         '    "operator": "Blacksburg Parks and Recreation",\n'
         '    "type": "multipolygon",\n'
         '    "id": "relation/1310401"\n'
         '  },\n'
         '  "geometry": {\n'
         '    "type": "MultiPolygon",\n'
         '    "coordinates": [\n'
         '      [\n'
         '        [\n'
         '          [\n'
         '            -80.4345627,\n'
         '            37.249523\n'
         '          ],\n'
         '          [\n'
         '            -80.4344182,\n'
         '            37.2493826\n'
         '          ],\n'
         '          [\n'
         '            -80.4339595,\n'
         '            37.2498571\n'
         '          ],\n'
         '          [\n'
         '            -80.4339499,\n'
         '            37.2498833\n'
         '          ],\n'
         '          [\n'
         '            -80.4339432,\n'
         '            37.2498896\n'
         '          ],\n'
         '          [\n'
         '            -80.4339301,\n'
         '            37.2499146\n'
         '          ],\n'
         '          [\n'
         '            -80.4339201,\n'
         '            37.2499264\n'
         '          ],\n'
         '          [\n'
         '            -80.4339135,\n'
         '            37.2499389\n'
         '          ],\n'
         '          [\n'
         '            -80.4338968,\n'
         '            37.2499563\n'
         '          ],\n'
         '          [\n'
         '            -80.4337332,\n'
         '            37.2501451\n'
         '          ],\n'
         '          [\n'
         '            -80.4345627,\n'
         '            37.249523\n'
         '          ]\n'
         '        ]\n'
         '      ],\n'
         '      [\n'
         '        [\n'
         '          [\n'
         '            -80.4340041,\n'
         '            37.2490473\n'
         '          ],\n'
         '          [\n'
         '            -80.4339733,\n'
         '            37.2490533\n'
         '          ],\n'
         '          [\n'
         '            -80.4339529,\n'
         '            37.2490633\n'
         '          ],\n'
         '          [\n'
         '            -80.4339396,\n'
         '            37.2490772\n'
         '          ],\n'
         '          [\n'
         '            -80.4339062,\n'
         '            37.2491183\n'
         '          ],\n'
         '          [\n'
         '            -80.433903,\n'
         '            37.2491273\n'
         '          ],\n'
         '          [\n'
         '            -80.4338964,\n'
         '            37.2491356\n'
         '          ],\n'
         '          [\n'
         '            -80.4338772,\n'
         '            37.2491909\n'
         '          ],\n'
         '          [\n'
         '            -80.4338713,\n'
         '            37.2492288\n'
         '          ],\n'
         '          [\n'
         '            -80.433872,\n'
         '            37.2492576\n'
         '          ],\n'
         '          [\n'
         '            -80.4338798,\n'
         '            37.2492952\n'
         '          ],\n'
         '          [\n'
         '            -80.4339681,\n'
         '            37.2496564\n'
         '          ],\n'
         '          [\n'
         '            -80.4339762,\n'
         '            37.249703\n'
         '          ],\n'
         '          [\n'
         '            -80.4343445,\n'
         '            37.249324\n'
         '          ],\n'
         '          [\n'
         '            -80.4340699,\n'
         '            37.2490675\n'
         '          ],\n'
         '          [\n'
         '            -80.4340455,\n'
         '            37.2490528\n'
         '          ],\n'
         '          [\n'
         '            -80.4340247,\n'
         '            37.2490477\n'
         '          ],\n'
         '          [\n'
         '            -80.4340041,\n'
         '            37.2490473\n'
         '          ]\n'
         '        ]\n'
         '      ],\n'
         '      [\n'
         '        [\n'
         '          [\n'
         '            -80.4304112,\n'
         '            37.2476988\n'
         '          ],\n'
         '          [\n'
         '            -80.4301621,\n'
         '            37.247746\n'
         '          ],\n'
         '          [\n'
         '            -80.4297073,\n'
         '            37.2481174\n'
         '          ],\n'
         '          [\n'
         '            -80.4295667,\n'
         '            37.2484716\n'
         '          ],\n'
         '          [\n'
         '            -80.4293716,\n'
         '            37.2487701\n'
         '          ],\n'
         '          [\n'
         '            -80.4294636,\n'
         '            37.2498159\n'
         '          ],\n'
         '          [\n'
         '            -80.4301123,\n'
         '            37.2499173\n'
         '          ],\n'
         '          [\n'
         '            -80.4301524,\n'
         '            37.2497408\n'
         '          ],\n'
         '          [\n'
         '            -80.4301991,\n'
         '            37.2495505\n'
         '          ],\n'
         '          [\n'
         '            -80.4299142,\n'
         '            37.2492832\n'
         '          ],\n'
         '          [\n'
         '            -80.4300796,\n'
         '            37.2489104\n'
         '          ],\n'
         '          [\n'
         '            -80.4302927,\n'
         '            37.2484744\n'
         '          ],\n'
         '          [\n'
         '            -80.4307588,\n'
         '            37.2483244\n'
         '          ],\n'
         '          [\n'
         '            -80.4311451,\n'
         '            37.2483812\n'
         '          ],\n'
         '          [\n'
         '            -80.431366,\n'
         '            37.2484188\n'
         '          ],\n'
         '          [\n'
         '            -80.4316007,\n'
         '            37.2484596\n'
         '          ],\n'
         '          [\n'
         '            -80.4318354,\n'
         '            37.2485004\n'
         '          ],\n'
         '          [\n'
         '            -80.4320701,\n'
         '            37.2485406\n'
         '          ],\n'
         '          [\n'
         '            -80.4323049,\n'
         '            37.2485814\n'
         '          ],\n'
         '          [\n'
         '            -80.4322431,\n'
         '            37.2488516\n'
         '          ],\n'
         '          [\n'
         '            -80.4324293,\n'
         '            37.2488788\n'
         '          ],\n'
         '          [\n'
         '            -80.4324535,\n'
         '            37.2488845\n'
         '          ],\n'
         '          [\n'
         '            -80.4325089,\n'
         '            37.2489001\n'
         '          ],\n'
         '          [\n'
         '            -80.4325541,\n'
         '            37.2489186\n'
         '          ],\n'
         '          [\n'
         '            -80.4326098,\n'
         '            37.2489479\n'
         '          ],\n'
         '          [\n'
         '            -80.4326483,\n'
         '            37.2489748\n'
         '          ],\n'
         '          [\n'
         '            -80.4326658,\n'
         '            37.2489889\n'
         '          ],\n'
         '          [\n'
         '            -80.432997,\n'
         '            37.249309\n'
         '          ],\n'
         '          [\n'
         '            -80.433011,\n'
         '            37.2493191\n'
         '          ],\n'
         '          [\n'
         '            -80.4330318,\n'
         '            37.2493263\n'
         '          ],\n'
         '          [\n'
         '            -80.4330525,\n'
         '            37.2493294\n'
         '          ],\n'
         '          [\n'
         '            -80.4330731,\n'
         '            37.2493284\n'
         '          ],\n'
         '          [\n'
         '            -80.4332438,\n'
         '            37.2492844\n'
         '          ],\n'
         '          [\n'
         '            -80.4336442,\n'
         '            37.2492194\n'
         '          ],\n'
         '          [\n'
         '            -80.4336545,\n'
         '            37.2492172\n'
         '          ],\n'
         '          [\n'
         '            -80.4336749,\n'
         '            37.2492086\n'
         '          ],\n'
         '          [\n'
         '            -80.4336884,\n'
         '            37.2491988\n'
         '          ],\n'
         '          [\n'
         '            -80.4337018,\n'
         '            37.2491862\n'
         '          ],\n'
         '          [\n'
         '            -80.4337116,\n'
         '            37.2491647\n'
         '          ],\n'
         '          [\n'
         '            -80.433721,\n'
         '            37.2491296\n'
         '          ],\n'
         '          [\n'
         '            -80.4337601,\n'
         '            37.2490493\n'
         '          ],\n'
         '          [\n'
         '            -80.4337669,\n'
         '            37.249043\n'
         '          ],\n'
         '          [\n'
         '            -80.4337734,\n'
         '            37.2490305\n'
         '          ],\n'
         '          [\n'
         '            -80.4338034,\n'
         '            37.2489943\n'
         '          ],\n'
         '          [\n'
         '            -80.4338369,\n'
         '            37.2489615\n'
         '          ],\n'
         '          [\n'
         '            -80.4338538,\n'
         '            37.2489495\n'
         '          ],\n'
         '          [\n'
         '            -80.4338571,\n'
         '            37.2489426\n'
         '          ],\n'
         '          [\n'
         '            -80.4338638,\n'
         '            37.2489356\n'
         '          ],\n'
         '          [\n'
         '            -80.4338735,\n'
         '            37.2489142\n'
         '          ],\n'
         '          [\n'
         '            -80.4338729,\n'
         '            37.2488901\n'
         '          ],\n'
         '          [\n'
         '            -80.4338693,\n'
         '            37.248882\n'
         '          ],\n'
         '          [\n'
         '            -80.4338656,\n'
         '            37.2488745\n'
         '          ],\n'
         '          [\n'
         '            -80.4338586,\n'
         '            37.2488677\n'
         '          ],\n'
         '          [\n'
         '            -80.433855,\n'
         '            37.2488609\n'
         '          ],\n'
         '          [\n'
         '            -80.4338409,\n'
         '            37.2488495\n'
         '          ],\n'
         '          [\n'
         '            -80.4337423,\n'
         '            37.2487563\n'
         '          ],\n'
         '          [\n'
         '            -80.4333668,\n'
         '            37.2483181\n'
         '          ],\n'
         '          [\n'
         '            -80.433124,\n'
         '            37.2479608\n'
         '          ],\n'
         '          [\n'
         '            -80.4327739,\n'
         '            37.2481122\n'
         '          ],\n'
         '          [\n'
         '            -80.4324132,\n'
         '            37.2475783\n'
         '          ],\n'
         '          [\n'
         '            -80.4327346,\n'
         '            37.24738\n'
         '          ],\n'
         '          [\n'
         '            -80.4326417,\n'
         '            37.2472421\n'
         '          ],\n'
         '          [\n'
         '            -80.4326247,\n'
         '            37.2472486\n'
         '          ],\n'
         '          [\n'
         '            -80.432571,\n'
         '            37.2471643\n'
         '          ],\n'
         '          [\n'
         '            -80.4324753,\n'
         '            37.2471574\n'
         '          ],\n'
         '          [\n'
         '            -80.4323343,\n'
         '            37.247122\n'
         '          ],\n'
         '          [\n'
         '            -80.4319019,\n'
         '            37.247447\n'
         '          ],\n'
         '          [\n'
         '            -80.431724,\n'
         '            37.2475446\n'
         '          ],\n'
         '          [\n'
         '            -80.4315698,\n'
         '            37.2476012\n'
         '          ],\n'
         '          [\n'
         '            -80.4314037,\n'
         '            37.247639\n'
         '          ],\n'
         '          [\n'
         '            -80.4312471,\n'
         '            37.2476674\n'
         '          ],\n'
         '          [\n'
         '            -80.4310241,\n'
         '            37.2476484\n'
         '          ],\n'
         '          [\n'
         '            -80.4306722,\n'
         '            37.2476642\n'
         '          ],\n'
         '          [\n'
         '            -80.4304112,\n'
         '            37.2476988\n'
         '          ]\n'
         '        ]\n'
         '      ]\n'
         '    ]\n'
         '  }\n'
         '}\n'
         ']\n'
         '}\n',
